.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay form {
  background: white;
  padding: 1rem;
  border-radius: .3rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,0.2);
  width: 90%;
  max-width: 480px;
}

.overlay form h2 {
  margin: 0;
  margin-bottom: .6rem;
}

.overlay form label {
  font-weight: bold;
  color: gray;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.overlay form label span {
  font-weight: normal;
  font-size: 0.8em;
  color: red;
}

.overlay form input,
.overlay form select,
.overlay form textarea {
  display: block;
  width: 100%;
  margin: .3rem 0 .5rem;
  font-family: inherit;
  font-size: inherit;
  padding: .5rem;
  border: 1px solid #DDD;
  border-radius: .2rem;
}

.overlay form textarea {
  resize: none;
}

.overlay form button {
  margin-top: 0.5rem;
  background: #8881D8;
  border: none;
  padding: .8rem 1rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease;
  border-radius: .3rem;
}

.overlay form button:hover {
  background: rgb(114, 108, 180);
}

.overlay form button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background: gray;
  user-select: none;
}