.sidebar {
  background: #8881D8;
  color: white;
  padding-top: 4rem;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,0.1);
}

.sidebar article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  border-bottom: 3px solid transparent;
}

.sidebar article button {
  padding: 1rem 2rem;
}

.sidebar article h3 {
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 0;
  text-align: right;
}

.sidebar article h3::after {
  content: "<";
  display: inline-block;
  margin-left: 1rem;
  opacity: 0.5;
}

.sidebar ul {
  /* display: flex; */
  text-align: center;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
}

.sidebar ul li {
  display: inline-block;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  background: #8881D8;
  transition: all .2s ease;
}

.sidebar ul li.active {
  border-color: white;
}

.sidebar ul li a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: inherit;
}

.sidebar button {
  background: none;
  border: none;
  padding: 1rem;
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease;
  border-radius: .3rem;
}

.react-contextmenu {
  background: #FFF;
  color: #000;
  border-radius: .2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
  overflow: hidden;
  transition: all .1s ease;
}

.react-contextmenu .react-contextmenu-item {
  padding: 0.7rem;
  cursor: pointer;
  transition: all .2s ease;
}

.react-contextmenu .react-contextmenu-item:last-of-type {
  color: #F40;
}

.react-contextmenu .react-contextmenu-item--selected {
  background: #DDD;
}

@media screen and (min-width: 860px) {
  .sidebar {
    width: 15rem;
    padding-top: 6rem;
    height: 100%;
  }

  .sidebar article {
    display: block;
  }
  
  .sidebar article button {
    margin-bottom: 1rem;
  }

  .sidebar ul {
    display: block;
    text-align: left;
  }
  
  .sidebar ul li {
    display: block;
    border-bottom: none;
    border-left: 5px solid transparent;
  }
  
  .sidebar ul li:not(:last-of-type):hover {
    background: rgba(0,0,0,0.2);
  }
  
  .sidebar button {
    margin-top: 1rem;
    margin-left: 2rem;
    background: rgba(0,0,0,0.2);
    width: calc(100% - 4rem);
  }
  
  .sidebar button:hover {
    background: rgba(0,0,0,0.4);
  }
}